<header>
    <h1>Coins</h1>
</header>

<div id="form">
    <input id="coin-input" placeholder="Name of coin" />
    <input id="dolval-input" placeholder="Dollar Value" />
    <button id="add-item-button">Add</button>
</div>

<div class="toolbar">
    <button id="sort">Sort A–Z</button>
    <button id="clear">Clear All</button>
</div>

<ul id="list">
</ul>