<div id="popup">
    <div id="popup-content">
        <h3>Welcome!</h3>
        <p>coins</p>
        <button id="close-popup">Close</button>
    </div>
</div>

{{#each coins}}
<p>{{coin}}: {{dolVal}}</p>
{{/each}}